    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        color: #44A7DA;
        font-weight: bold;
    }
    
    body {
        background: #f6f0e3;
    }
    
    @font-face {
        font-family: Righteous;
        src: url(ttf/Righteous-Regular.ttf);
    }
    /* p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75ch;
} */
    
    a {
        color: #44A7DA;
        text-decoration: none;
    }
    
    .navi-bank {
        text-align: center;
    }
    
    .navi {
        font-size: 100px;
        font-family: Righteous;
    }
    
    .bank {
        font-size: 60px;
        text-align: center;
        font-family: Righteous;
        color: black;
    }
    
    hr.line {
        border: 2px solid #44A7DA;
    }
    
    .vl {
        border-left: 4px solid #44A7DA;
        height: 100px;
        position: absolute;
        left: 53%;
        margin-left: -3px;
        top: 10px;
    }
    
    .wrap {
        position: relative;
        width: 700px;
        margin: 10px auto;
    }
    
    .wrap2 {
        position: relative;
        width: 500px;
        margin: 10px auto;
        /* left: 100px; */
        vertical-align: text-top;
    }
    
    .wrap3 {
        position: relative;
        width: 700px;
        margin: 10px auto;
    }
    
    .wrap-mini {
        position: relative;
        width: 1000px;
        height: 120px;
        margin: 10px auto;
    }
    
    .rhombus-mini {
        width: 80px;
        height: 80px;
        background: white;
        margin: 20px;
        transform: rotate(-45deg);
        float: left;
        border: 2.5px solid #44A7DA;
        border-radius: 11px;
        display: flex;
        align-items: center;
        justify-content: center
    }
    
    .rhombus-mini:hover {
        background: #f6f0e3;
    }
    
    .rhombus-mini p {
        transform: rotate(45deg) ;
        text-align: center;
    }
    
    .rhombus-mini icon {
        transform: rotate(45deg) ;
        text-align: center;
    }
    
    @media screen and (max-width: 1000px) {
        .wrap-mini {
            width: 240px;
            margin: 100px auto;
        }
        .rhombus-mini {
            float: left;
            margin: 80px 40px;
        }
    }
    
    .rhombus {
        width: 120px;
        height: 120px;
        background: white;
        margin: 40px;
        transform: rotate(-45deg);
        float: left;
        border: 2.5px solid #44A7DA;
        border-radius: 11px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center
    }
    
    .rhombus:hover {
        background: #f6f0e3;
    }
    
    .rhombus p {
        transform: rotate(45deg);
    }
    
    .rhombus icon {
        transform: rotate(45deg);
        text-align: center;
    }
    
    @media screen and (max-width: 1000px) {
        .wrap {
            width: 240px;
            margin: 100px auto;
        }
        .rhombus {
            float: none;
            margin: 80px 40px;
        }
    }
    
    .rhombus-account {
        text-align: center;
        width: 500px;
        height: 80px;
        background: white;
        margin: 40px;
        /* float: left; */
        border: 2.5px solid #44A7DA;
        border-bottom-left-radius: 11px;
        
    }
    
    .rhombus-account:hover {
        background: #f6f0e3;
    }
    
    .rhombus-account p {
        text-align: center;
        transform: translate(20px, 30px);
    }   
    
    @media screen and (max-width: 1000px) {
        .wrap {
            width: 240px;
            margin: 100px auto;
        }
        .rhombus-account {
            float: none;
            margin: 80px 40px;
        }
    }

    .rhombus-account-info-1 {
        text-align: center;
        width: 500px;
        height: 30px;
        background: #44A7DA;
        margin: 0px;
        margin-top: 30px;
        margin-left: 60px;
        /* float: left; */
        border: 2.5px solid #44A7DA;
        /* border-bottom-left-radius: 11px; */
        
    }
    
    
    .rhombus-account-info-1 p {
        color: #f6f0e3;
        text-align: center;
        transform: translate(10px, 10px);
    }   
    
    @media screen and (max-width: 1000px) {
        .wrap {
            width: 240px;
            margin: 100px auto;
        }
        .rhombus-account-info-1 {
            float: none;
            margin: 80px 40px;
        }
    }

    .rhombus-account-info-2 {
        /* text-align: center; */
        width: 500px;
        height: 60px;
        background: white;
        /* margin-bottom: 20px; */
        margin-left: 60px;
        /* float: left; */
        border: 2.5px solid #44A7DA;
        border-bottom-left-radius: 11px;
        
    }
    
    .rhombus-account-info-2:hover {
        background: #f6f0e3;
    }
    
    @media screen and (max-width: 1000px) {
        .wrap {
            width: 240px;
            margin: 100px auto;
        }
        .rhombus-account-info-2 {
            float: none;
            margin: 80px 40px;
        }
    }

    .rotated {
        transform: rotate(90deg);
        /* Equal to rotateZ(45deg) */
    }
    
    .btn {
        text-align: center;
        border: none;
        background-color: #C4C4C4;
        padding: 14px 50px;
        font-size: 15px;
        cursor: pointer;
        display: inline-block;
        border-radius: 5px;
        flex: auto;
    }
    
    
    .info:hover {
        background: #2196F3;
        color: black;
    }
    
    div.break-word-trans {
        /* border:1px solid gray; */
        width: 500px;
        height: 70px;
        word-wrap: break-word;
    }
    img{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 200px;
    }
    .column {
        /* border:1px solid gray; */
        float: left;
        width: 20%;
        padding: 10px;
        margin: 10px;
        /* height: 200px; */
        box-shadow: 2px 2px gray;
    }
    
    .column-pro {
        /* border:1px solid gray; */
        float: left;
        width: 30%;
        padding: 10px;
        margin: 10px;
        /* height: 200px; */
        box-shadow: 2px 2px gray;
    }

    .column-history {
        border:1px solid #44A7DA;
        float: left;
        width: 100%;
        padding: 10px;
        margin: 10px;
        height: 355px;
        /* box-shadow: 2px 2px gray; */
    }
    
    .column-history-search {
        border:1px solid #44A7DA;
        /* float: left; */
        width: 300px;
        /* right: 50px; */
        /* padding: 10px; */
        margin: 10px;
        height: 30px;
        /* text-align: center; */
        /* box-shadow: 2px 2px gray; */
        border-radius: 30px;
        background-color: #f6f0e3;
    }

    .column-history-search-text {
        border:1px solid #44A7DA;
        /* float: left; */
        width: 300px;
        /* right: 50px; */
        /* padding: 10px; */
        margin: 10px;
        height: 30px;
        /* text-align: center; */
        /* box-shadow: 2px 2px gray; */
        border-radius: 30px;
        background-color: #f6f0e3;
    }

    .column-history-gray {
        /* border:1px solid #44A7DA; */
        background-color: #ECECF6;
        /* float: left; */
        width: 300px;
        /* padding: 10px; */
        /* margin: 10px; */
        height: 300px;
        /* box-shadow: 2px 2px gray; */

    }


    .column-history-info {
        border:1px solid #44A7DA;
        /* float: left; */
        width: 640px;
        /* right: 50px; */
        /* padding: 10px; */
        margin: 20px;
        height: 80px;
        /* text-align: center; */
        /* box-shadow: 2px 2px gray; */
        border-radius: 5px;
        background-color: #C4C4C4;
    }

    .column-account-info-pay {
        border:1px solid #44A7DA;
        /* float: left; */
        width: 660px;
        /* right: 50px; */
        /* padding: 10px; */
        margin: 10px;
        height: 30px;
        /* text-align: center; */
        /* box-shadow: 2px 2px gray; */
        border-radius: 5px;
        background-color: #C4C4C4;
    }

    .column-recharge {
        border:3px solid #44A7DA;
        float: left;
        width: 40%;
        padding: 10px;
        margin: 5px;
        /* height: 200px; */
        /* box-shadow: 2px 2px gray; */
    }

    .column-recharge-phone {
        border:1px solid #44A7DA;
        /* float: left; */
        width: 660px;
        /* right: 50px; */
        /* padding: 10px; */
        margin: 10px;
        height: 35px;
        /* text-align: center; */
        /* box-shadow: 2px 2px gray; */
        border-radius: 5px;
        background-color: #C4C4C4;
    }
    
    .column-transaction-origin{
        /* border:1px solid #44A7DA; */
        /* float: left; */
        width: 300px;
        /* right: 50px; */
        /* padding: 10px; */
        margin: 5px;
        height: 20px;
        /* text-align: center; */
        /* box-shadow: 2px 2px gray; */
        border-radius: 5px;
        /* background-color: #C4C4C4; */
    }

    .column-transaction-info-mini{
        /* border:1px solid #44A7DA; */
        /* float: left; */
        width: 300px;
        /* right: 50px; */
        /* padding: 10px; */
        margin: 5px;
        height: 20px;
        /* text-align: center; */
        /* box-shadow: 2px 2px gray; */
        border-radius: 5px;
        /* background-color: #C4C4C4; */
    }


    .column-transaction-info{
        border:1px solid #44A7DA;
        float: left;
        padding: 10px;
        margin: 10px;
        /* box-shadow: 2px 2px gray; */
        height: 150px; 
        width: 642px;
    }

    .column-transaction{
        border:1px solid #44A7DA;
        float: left;
        padding: 10px;
        margin: 10px;
        /* box-shadow: 2px 2px gray; */
        height: 160px; 
        width: 300px;
    }

    .recharge-money{
        background-color: #C4C4C4;
        border-radius: 10px;
        text-align: center;
        margin: auto;
        width: 20%;
        border: 3px solid #44A7DA;
        padding: 10px;
        margin-bottom: 5px;
    }

    .z-index-div {
        position: absolute;
        left : 400px;
        top: 254px;
        z-index: 1;
        background-color: #f6f0e3;
        border:1px solid #44A7DA;
        /* float: left; */
        text-align: center;
        width: 300px;
        /* right: 50px; */
        /* padding: 10px; */
        margin: 10px;
        height: 25px;
        /* text-align: center; */
        /* box-shadow: 2px 2px gray; */
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .z-index-transaction {
        position: absolute;
        left : 350px;
        top: 254px;
        z-index: 1;
        background-color: #f6f0e3;
        border:1px solid #44A7DA;
        /* float: left; */
        text-align: center;
        width: 300px;
        /* right: 50px; */
        /* padding: 10px; */
        margin: 10px;
        height: 25px;
        /* text-align: center; */
        /* box-shadow: 2px 2px gray; */
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .z-index-transaction-benefit {
        position: absolute;
        left : 715px;
        top: 254px;
        z-index: 1;
        background-color: #f6f0e3;
        border:1px solid #44A7DA;
        /* float: left; */
        text-align: center;
        width: 250px;
        /* right: 50px; */
        /* padding: 10px; */
        margin: 10px;
        height: 25px;
        /* text-align: center; */
        /* box-shadow: 2px 2px gray; */
        border-radius: 10px;

        display: flex;
        align-items: center;
        justify-content: center
    }

    .z-index-transaction-info {
        position: absolute;
        left : 350px;
        top: 455px;
        z-index: 1;
        background-color: #f6f0e3;
        border:1px solid #44A7DA;
        /* float: left; */
        text-align: center;
        width: 300px;
        /* right: 50px; */
        /* padding: 10px; */
        margin: 10px;
        height: 25px;
        /* text-align: center; */
        /* box-shadow: 2px 2px gray; */
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .center {
        margin: auto;
        width: 50%;
        
        /* border: 3px solid green; */
        /* padding: 10px; */
    }


    .tm-nav {
        position: absolute;
        /* right: 0px; */
        /* top: 0px; */
    }
    
    .tm-nav>ul>li {
        list-style: none;
    }
    
    .tm-nav>ul>li>a {
        display: block;
        padding: 12px 15px;
        color: #999A9B;
    }
    
    .tm-nav>ul>li.active>a,
    .tm-nav>ul>li>a:hover,
    .tm-nav>ul>li>a:focus {
        color: #0299CC;
    }
    
    .tm-nav-deco {
        display: inline-block;
        width: 20px;
        height: 8px;
        background-color: #999A9B;
        vertical-align: middle;
        margin-right: 20px;
    }
    
    .tm-nav>ul>li.active>a>.tm-nav-deco,
    .tm-nav>ul>li:hover>a>.tm-nav-deco {
        background-color: #0299CC;
    }
    
    @media (max-width: 1200px) {
        .tm-nav {
            position: static;
        }
    }

    .tm-nav-right {
        position: absolute;
        right: 0px;
        /* top: 0px; */
    }
    
    .tm-nav-right>ul>li {
        list-style: none;
    }
    
    .tm-nav-right>ul>li>a {
        display: block;
        padding: 12px 15px;
        color: #999A9B;
    }
    
    .tm-nav-right>ul>li.active>a,
    .tm-nav-right>ul>li>a:hover,
    .tm-nav-right>ul>li>a:focus {
        color: #0299CC;
    }
    
    .tm-nav-right-deco {
        display: inline-block;
        width: 20px;
        height: 8px;
        background-color: #999A9B;
        vertical-align: middle;
        margin-right: 20px;
    }
    
    .tm-nav-right>ul>li.active>a>.tm-nav-right-deco,
    .tm-nav-right>ul>li:hover>a>.tm-nav-right-deco {
        background-color: #0299CC;
    }
    
    @media (max-width: 1200px) {
        .tm-nav-right {
            position: static;
        }
    }

    .alignleft{
        font-weight: normal;
        color: black;
        float: left;
        margin: 5px;
    }

    .alignright{
        color: black;
        float: right;
        margin: 5px
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
      }

      .button {
        background-color: #44A7DA; /* Green */
        border: none;
        color: white;
        padding: 5px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }

      .center-utilities{
          margin : auto;
          width: 60%;
      }
      .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        /* background-color: #2196F3; */
        padding: 10px;
        width: 800px;
      }
      .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 5px;
        font-size: 15px;
        text-align: center;
        height: 30px;
      }
      .grid-item-name {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 10px;
        font-size: 15px;
        text-align: center;
        height: 45px;
      }

      .grid-container-rechange-rate {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        /* background-color: #2196F3; */
        padding: 10px;
        width: 800px;
      }

      .grid-item-rechange-rate {
        background-color: rgba(255, 255, 255, 0.8);
        border-top: 1px solid rgba(0, 0, 0, 0.8);
        padding: 10px;
        font-size: 15px;
        size: 15px;
        text-align: center;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center
      }

      .rhombus-exchange-info-1 {
        /* text-align: center; */
        width: 500px;
        height: 30px;
        background: white;
        /* margin-bottom: 20px; */
        margin-left: 60px;
        /* float: left; */
        border: 2.5px solid #44A7DA;
        /* border-bottom-left-radius: 11px; */
        display: flex;
        align-items: center;
        justify-content: center
    }

    .rhombus-exchange-info-2 {
        /* text-align: center; */
        width: 500px;
        height: 200px;
        background: white;
        /* margin-bottom: 20px; */
        margin-left: 60px;
        /* float: left; */
        border: 2.5px solid #44A7DA;
        border-bottom-left-radius: 11px;
        border-top: 0px;
        text-align: start;
    }

    .rhombus-exchange-info-3 {
        /* text-align: center; */
        width: 500px;
        height: 200px;
        background: white;
        /* margin-bottom: 20px; */
        /* margin-left: 60px; */
        /* float: left; */
        border: none;
        border-bottom-left-radius: 11px;
        border-top: 0px;
        text-align: start;
    }
